<html>



	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="Controller.js"></script>

	<body>
		<div ng-app="">

			<input type="text" ng-model="name" />

			<p>Hello {{name}}</p> </br></br></br>



			<table>
				<thead>
					<tr>
						<th>Product</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in itens">
						<td><strong>{{ item.product }}</strong></td>
						<td>{{ item.amount }}</td>

					</tr>
				</tbody>
			</table>


		</div>

	</body>

</html>

