<html ng-app="MyCarModule">

<head>
	<title>AngularJS Test</title>
	
</head>
	

	<body>
		<div ng-controller="SearchSitesController">
			<div>
				<input type="text" ng-model="findSearchSites">
			</div>

			<br />
			

			<ul>
				<li ng-repeat="(index, searchSite) in searchSites | filter: findSearchSites	| orderBy: 'id': true">
					{{searchSite.id}} - {{searchSite.url}} - <a href="#" ng-click="remove(index)">Remove</a>
				</li>

			</ul>


			Id <input type="text" ng-model="searchSite.id" /><br />
			URL <input type="text" ng-model="searchSite.url" />
			<button ng-click="add()">Add</button>


			<p ng-show="checkSelected">Show, {{name}} {{checkSelected}}</p>
			<p ng-hide="checkSelected">Hide, {{name}} {{checkSelected}}</p>
			<input type="text" ng-model="name" />
			<input type="checkbox" ng-model="checkSelected" />


			<hr>

			{{userName | lowercase}} <br>
			{{userPass | uppercase}} <br>
			{{userPrice | currency: 'R$'}} <br>
			{{userPrice | number:10}} <br>


		</div>

		<script src="angular.min.js"></script>
		<script src="script.js"></script>

		

	</body>

</html>